body {
  margin: 0;
  padding: 0;
  height: 100vh;
   margin-top: 80px;
}


.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  overflow: hidden;
}

.logo-card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* padding: 2rem; */
  text-align: center;
  margin-bottom: 1.5rem;
  width: 100%;
  max-width: 100%; /* שיהיה על כל הרוחב */
}

.logo-card img {
  margin: 0 auto 0.5rem;
  width: 100%;
}

.logo-card p {
  color: #251c4d;
  font-size: 1rem;
}

.cards-grid {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 0 1rem 1rem;
}

@media (min-width: 768px) {
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card-item {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  font-size: 2rem;
  color: #251c4d;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

/* ----------- מודל ----------- */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 400px;
  position: relative;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #555;
}

.close-button:hover {
  color: red;
}

.modal-content p {
  margin-top: 20px;
  font-size: 14px;
  color: #444;
}

.modal-content span {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
